/* Playfair Display Regular */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Playfair Display Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Playfair Display Medium */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Playfair Display Medium Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Playfair Display SemiBold */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Playfair Display SemiBold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Playfair Display Bold */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Playfair Display Bold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Playfair Display ExtraBold */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Playfair Display ExtraBold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Playfair Display Black */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Playfair Display Black Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("/client/PlayfairDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Apply Playfair Display to body and headings */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.banner {
  width: 100%;
  height: 320px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 480s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(173px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 16em;
  line-height: 1em;
  color: #25283b;
  position: relative;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}
.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}
.banner .content h2 {
  font-size: 3em;
}
.banner .content .model {
  background-image: url(images/model.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
  .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 5em;
  }
}

.loader {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
  position: relative;
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: #252422 !important
}